<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
        </layout>
        <!--限制输出级别 -->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>
    <appender name="FILE_DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="File" value="${catalina.base}/logs/service-consumer/debug.log" />
        <param name="Append" value="true" />
        <!-- 指定日志输出级别 -->
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="DEBUG" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>
    <appender name="FILE_ALL" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="File" value="${catalina.base}/logs/service-consumer/all.log" />
        <param name="Append" value="true" />
        <!-- 指定日志输出级别 -->
        <param name="Threshold" value="INFO" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
        </layout>
    </appender>


    <appender name="FILE_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="File" value="${catalina.base}/logs/service-consumer/error.log" />
        <param name="Append" value="true" />
        <!-- 指定日志输出级别 -->
        <param name="Threshold" value="ERROR" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
        </layout>
    </appender>

    <appender name="SYSLOG4J" class="org.graylog2.syslog4j.impl.log4j.Syslog4jAppender">
        <param name="Protocol" value="udp" />
        <param name="Host" value="192.168.3.102" />
        <param name="Port" value="514" />
        <param name="maxMessageLength" value="40960" />
        <param name="Facility" value="user" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="dol %m" />
        </layout>
    </appender>

    <category name="org.dol">
        <priority value="INFO" />
        <appender-ref ref="SYSLOG4J" />
        <appender-ref ref="CONSOLE" />
    </category>
    <root>
        <priority value="ERROR" />
        <appender-ref ref="FILE_ERROR" />
    </root>
</log4j:configuration>  